<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <targets>
    <target xsi:type="File" name="logfile"
            fileName="${specialfolder:folder=ApplicationData}/Locomotiv/Logs/locomotiv-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
            archiveFileName="${specialfolder:folder=ApplicationData}/Locomotiv/Logs/archives/locomotiv-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target xsi:type="Console" name="console"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />

    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
